body{
    margin: 0;
    background-color: darkblue;
    height: 100vh;
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;

}
.welcome{
    background-color: darkblue;
    color: white;
    font-size: 35px;
    font-family: cursive;
    padding-bottom: 1rem;
}
.form{
    box-sizing: border-box;
    background-color: white;
    padding: 20px;
    padding: 2rem 1rem 2rem 1rem;
    margin: 0 12rem;
    align-items: center;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .7);
    display: flex;
    flex-direction: column;
}
.form .task{
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    color: blue;
    border: 3px solid blue;
    padding: 10px;
    font-size: 20px;
    font-family: cursive;
}
.task::placeholder{
    color: lightgray;
    font-family: cursive;
}
.btn{
    background-color: darkblue;
    color: white;
    border: none;
    width: 100%;
    padding: 7px;
    font-size: 20px;
    font-family: cursive;
    margin: 18px;
    border-radius: 5px;
    box-shadow: 0 19px 17px rgba(0, 0, 0, .8);
    cursor: pointer;
}
.btn:hover{
    filter: brightness(0.7);
}
#list{
    box-sizing: border-box;
    background-color: white;
    padding: 20px;
    margin:5rem 12rem;
    align-items: center;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family: cursive;
    border-radius: 10px;
    color: darkblue;
    font-family: cursive;
    font-size: 20px;
    
}
@media screen and (max-width: 500px){
    .form{
        margin: 0 2rem;
    }
    .form .task{
        padding: 10px;
        font-size: 18px;
    }
    #list{
        padding: 20px;
        margin:5rem 1.5rem;
        font-size: 18px;
        font-size: 18px;
        
    }

}